<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- 
	Flowplayer website, forums & jQuery Tools by Tero Piirainen 
	
	Prefer web standards over Flash. Video is the only exception.	
-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

		<title>Flowplayer - Flash Video Player for the Web</title>
		<meta name="Description" content="Embed video streams to your website. Superior alternative to YouTube. Open Sourced under the GPL license. No other software makes this smoother." />	
		<meta name="Keywords" content="video player for the web, flash video player,web media player,free video player,free flv player,mp4 flash player,mp4 player,open source video player,flash 9 video,flash video,web video,flv player,flv video" />		
	

	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="Distribution" content="Global" />
	<meta name="Author" content="Tero Piirainen" />
	<meta name="Robots" content="index,follow" /> 
 

	
	
	<script type="text/javascript" src="flowplayer-3.2.11.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>


	<!--[if lt IE 7]>
		<style type="text/css">
			@import "http://static.flowplayer.org/css/ie6.css?v=0.2";
		</style>
	<![endif]-->
	
	<!--[if lt IE 8]>
		<style>
			html { overflow-x:hidden; }
			#content ol, #content ul  {margin-left: 50px; }
		</style>
	<![endif]-->	

</head>

<body id="plugins_httpstreamingm3u8">
	<div id="wrap">		 



		
		<div id="content"> 
		
		
 <script type="text/javascript" src="flowplayer.ipad-3.2.12.min.js"></script>





<h1>
	<strong>Apple HTTP Live Streaming</strong>
	<em>Play Apple HTTP Live Streaming within Flowplayer</em>
</h1>





<h2>Introduction</h2>


<h2>Examples</h2>

<a name="anchor"></a>



<p>

</p>


<div style="width:425px;height:300px;margin:30px auto">
   


<!-- player container-->


<a
    href=""
    style="display:block;width:425x;height:300px;"
    id="player">

</a>

<!-- Flowplayer installation and configuration -->
<script type="text/javascript" >
flowplayer("player", "@PLAYER_SWF@", {
    // configure the required plugins
    plugins:  {
    
        httpstreaming: {
            url: '@MAIN_PLAYER_SWF@'
        }

    },


    clip: {
        url: "http://184.72.239.149/vod/smil:bigbuckbunnyiphone.smil/chunklist-b400000.m3u8",
        ipadUrl: "http://184.72.239.149/vod/smil:bigbuckbunnyiphone.smil/chunklist-b400000.m3u8",
        //url: "http://thread-life.herokuapp.com/threads/369/alternates.m3u8?low_res=true",
        //ipadUrl: "http://thread-life.herokuapp.com/threads/369/alternates.m3u8?low_res=true",
        urlResolvers: "httpstreaming",
        provider: "httpstreaming"
    },
    log: {
        level: 'debug',
        filter: 'org.electroteque.m3u8.*'
    }

}).ipad();

</script>



</div>


</div>

</div>
			
</body>

</html>
