<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

		<title>Flowplayer - Flash Video Player for the Web</title>


	
	
	<script type="text/javascript" src="flowplayer-3.2.11.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>


	<!--[if lt IE 7]>
		<style type="text/css">
			@import "http://static.flowplayer.org/css/ie6.css?v=0.2";
		</style>
	<![endif]-->
	
	<!--[if lt IE 8]>
		<style>
			html { overflow-x:hidden; }
			#content ol, #content ul  {margin-left: 50px; }
		</style>
	<![endif]-->	

</head>

<body id="plugins_httpstreamingm3u8">
	<div id="wrap">		 



		
		<div id="content"> 
		
		
 <script type="text/javascript" src="flowplayer.ipad-3.2.12.min.js"></script>





<h1>
	<strong>Apple HTTP Live Streaming</strong>
	<em>Play Apple HTTP Live Streaming within Flowplayer</em>
</h1>





<h2>Introduction</h2>


<h2>Examples</h2>

<a name="anchor"></a>

<h2><em>Basic</em> example with a single bitrate</h2>

<p>

</p>


<div style="width:425px;height:300px;margin:30px auto">



<!-- player container-->


<a
    href=""
    style="display:block;width:425x;height:300px;"
    id="player">

</a>

<!-- Flowplayer installation and configuration -->
<script type="text/javascript" >
flowplayer("player", "@PLAYER_SWF@", {
    // configure the required plugins
    plugins:  {

        httpstreaming: {
            url: '@MAIN_PLAYER_SWF@'
        }
    },


    clip: {
        url: "http://184.72.239.149/vod/smil:bigbuckbunnyiphone.smil/chunklist-b400000.m3u8",
        ipadUrl: "http://184.72.239.149/vod/smil:bigbuckbunnyiphone.smil/chunklist-b400000.m3u8",
        urlResolvers: "httpstreaming",
        provider: "httpstreaming",
        autoPlay: false
    },
    log: {
        level: 'debug',
        filter: 'org.osmf.*, org.electroteque.m3u8.*, org.flowplayer.bitrateselect.*'
    }

}).ipad();
</script>



</div>

<div class="box code">
<pre><code class="javascript">
flowplayer("player", "@PLAYER_SWF@", {
    // configure the required plugins
    plugins:  {

        httpstreaming: {
            url: '@MAIN_PLAYER_SWF@'
        }
    },


    clip: {
        url: "http://184.72.239.149/vod/smil:bigbuckbunnyiphone.smil/chunklist-b400000.m3u8",
        ipadUrl: "http://184.72.239.149/vod/smil:bigbuckbunnyiphone.smil/chunklist-b400000.m3u8",
        urlResolvers: ["httpstreaming","brselect"],
        provider: "httpstreaming",
        autoPlay: false
    },
    log: {
        level: 'debug',
        filter: 'org.osmf.*, org.electroteque.m3u8.*, org.flowplayer.bitrateselect.*'
    }

}).ipad();

</pre>
</div>


<h2><em>Multi</em> bitrate example with menu selection.</h2>

<p>

</p>


<div style="width:425px;height:300px;margin:30px auto">

<a
    href=""
    style="display:block;width:425x;height:300px;"
    id="bitrate">

</a>

<!-- Flowplayer installation and configuration -->
<script type="text/javascript" >
flowplayer("bitrate", "@PLAYER_SWF@", {
    // configure the required plugins
    plugins:  {
    
        httpstreaming: {
            url: '@MAIN_PLAYER_SWF@',


        },
        menu: {
            url: "flowplayer.menu.swf",
            items: [
                                        // you can have an optional label as the first item
                                        // the bitrate specific items are filled here based on the clip's bitrates
                                        { label: "select bitrate:", enabled: false }
                                    ]
        },
        brselect: {
            url: "flowplayer.bitrateselect.swf",
            menu: true,
            onStreamSwitchBegin: function (newItem, currentItem) {
                $f("bitrate").getPlugin('content').setHtml("Will switch to: " + newItem.streamName +
                    " from " + currentItem.streamName);
            },
            onStreamSwitch: function (newItem) {
                $f("bitrate").getPlugin('content').setHtml("Switched to: " + newItem.streamName + " with bitrate: " + newItem.bitrate);
            }
        },
        content: {
                                    url: 'flowplayer.content.swf',
                                    bottom: 30, left: 0, width: 250, height: 150,
                                    backgroundColor: 'transparent', backgroundGradient: 'none', border: 0,
                                    textDecoration: 'outline',
                                    style: {
                                        body: {
                                            fontSize: 14,
                                            fontFamily: 'Arial',
                                            textAlign: 'center',
                                            color: '#ffffff'
                                        }
                                    }
         }

    },


    clip: {
        url: "http://184.72.239.149/vod/smil:bigbuckbunnyiphone.smil/playlist.m3u8",
        ipadUrl: "http://184.72.239.149/vod/smil:bigbuckbunnyiphone.smil/playlist.m3u8",
        urlResolvers: ["httpstreaming","brselect"],
        provider: "httpstreaming",
        autoPlay: false,
        bitrates: {
            labels: { "300": "Low", "400": "Medium", "600": "High"  },
            default: 400
        },
    },
    log: {
        level: 'debug',
        filter: 'org.osmf.*, org.electroteque.m3u8.*, org.flowplayer.bitrateselect.*'
    }

}).ipad();

</script>



</div>

<div class="box code">
<pre><code class="javascript">
flowplayer("player", "@PLAYER_SWF@", {
    // configure the required plugins
    plugins:  {

        httpstreaming: {
            url: '@MAIN_PLAYER_SWF@',


        },
        menu: {
            url: "flowplayer.menu.swf",
            items: [
                                        // you can have an optional label as the first item
                                        // the bitrate specific items are filled here based on the clip's bitrates
                                        { label: "select bitrate:", enabled: false }
                                    ]
        },
        brselect: {
            url: "flowplayer.bitrateselect.swf",
            menu: true,
            onStreamSwitchBegin: function (newItem, currentItem) {
                $f("bitrate").getPlugin('content').setHtml("Will switch to: " + newItem.streamName +
                    " from " + currentItem.streamName);
            },
            onStreamSwitch: function (newItem) {
                $f("bitrate").getPlugin('content').setHtml("Switched to: " + newItem.streamName + " with bitrate: " + newItem.bitrate);
            }
        },
        content: {
                            url: 'flowplayer.content.swf',
                            bottom: 30, left: 0, width: 250, height: 150,
                            backgroundColor: 'transparent', backgroundGradient: 'none', border: 0,
                            textDecoration: 'outline',
                            style: {
                                body: {
                                    fontSize: 14,
                                    fontFamily: 'Arial',
                                    textAlign: 'center',
                                    color: '#ffffff'
                                }
                            }
        }

    },


    clip: {
        url: "http://184.72.239.149/vod/smil:bigbuckbunnyiphone.smil/playlist.m3u8",
        ipadUrl: "http://184.72.239.149/vod/smil:bigbuckbunnyiphone.smil/playlist.m3u8",
        urlResolvers: ["httpstreaming","brselect"],
        provider: "httpstreaming",
        autoPlay: false,
        bitrates: {
            labels: { "300": "Low", "400": "Medium", "600": "High"  },
            default: 400
        },
    },
    log: {
        level: 'debug',
        filter: 'org.osmf.*, org.electroteque.m3u8.*, org.flowplayer.bitrateselect.*'
    }

}).ipad();

</pre>
</div>


</div>

</div>
			
</body>

</html>
